.footer {
  @apply flex flex-row justify-between mx-auto bg-[#F9FAFB] border text-[#171717] py-[20px] px-[20.67px];
}

@media (max-width: 760px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
}
