@tailwind base;
@tailwind components;

html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.body {
  /* background-color: rgba(181, 156, 190, 0.1); */
}

.dark {
  background-color: rgba(20, 20, 20, 0.95);
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}

@tailwind utilities;
