.pro__header {
  @apply ml-[217px];

  &__intro {
    @apply text-[18px] leading-[18px] text-[#171717] font-light mb-[16px];
  }

  &__txt {
    @apply whitespace-pre text-[48px] leading-[58px] font-extrabold mb-[64px];
  }
}
@media (max-width: 760px) {
  .pro__header {
    margin-left: 40px;
    &__txt {
      font-size: 38px;
      line-height: 36px;
    }
  }
}
